{% extends 'base/base.html' %}
{% block title %}Profile{% endblock title %}
{% block maincontent %}
    <h1>Profile Page</h1>

    <form method="post">
        <h2>Update User Details</h2>
        {% csrf_token %}
        {{ profile_form.as_p }}
        <input type="submit" name="update_profile" value="Update Profile" class="btn btn-primary">
    </form>

    <form method="post">
        <h2>Update Profile Details</h2>
        {% csrf_token %}
        {{ user_profile_form.as_p }}
        <input type="submit" name="update_profile" value="Update Profile Details" class="btn btn-primary">
    </form>

    <h2>Change Password</h2>
    <form method="post">
        {% csrf_token %}
        {{ password_form.as_p }}
        <input type="submit" name="change_password" value="Change Password" class="btn btn-primary">
    </form>

    <h2>Delete Profile</h2>
    <form method="post" action="{% url 'delete-profile' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete your profile? This action cannot be undone.');">Delete Profile</button>
    </form>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock maincontent %}
